<%= form_for progress, url: { controller: 'nctu_cce_credit', action: "feedback", id: progress.id}, method: :post , html: {class: "form-horizontal", role: "form"} do |p| %>	
<div class="container">
<%= p.fields_for :registered_courses do |r| %>	
	<div class="row">
    	<div class="col-sm-12">
    		<h3 class="text-center"><%=r.object.course.title %></h3><br>
		</div>		
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	評量題目
		</div>
    	<div class="col-sm-6">
		回答選項
		</div>		
	</div>
	<div class="row">
    	<div class="col-sm-6">
		</div>
    	<div class="col-sm-1">
		非常滿意			
		</div>	
    	<div class="col-sm-1">
		滿意			
		</div>		
    	<div class="col-sm-1">
		普通			
		</div>	
    	<div class="col-sm-1">
		不滿意			
		</div>	
    	<div class="col-sm-2">
		非常不滿意			
		</div>						
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	綜合評估
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	1. 我對教師的教學態度 
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_1, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_1, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_1, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_1, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_1_1, 1%>		
		</div>										
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	2. 我對教師的授課方法
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_2, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_2, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_2, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_2, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_1_2, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	3. 我對本課程的內容與結構
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_3, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_3, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_3, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_3, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_1_3, 1%>		
		</div>										
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	4. 我對本課程的作業、報告、考試與評分方式
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_4, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_4, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_4, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_4, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_1_4, 1%>		
		</div>										
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	5. 我對本課程的整體印象
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_5, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_5, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_5, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_1_5, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_1_5, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	細項評估
		</div>										
	</div>		
	<div class="row">
    	<div class="col-sm-6">
    	1. 我覺得教師課前準備得很充足
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_1, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_1, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_1, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_1, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_1, 1%>		
		</div>										
	</div>		
	<div class="row">
    	<div class="col-sm-6">
    	2. 教師上課熱忱、認真、負責
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_2, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_2, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_2, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_2, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_2, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	3. 教師的教學方法適切
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_3, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_3, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_3, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_3, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_3, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	4. 教師授課的表達與說明清楚
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_4, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_4, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_4, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_4, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_4, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	5. 教師的課堂時間分配恰當
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_5, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_5, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_5, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_5, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_5, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	6. 本課程所教內容前後有組織、有條理
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_6, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_6, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_6, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_6, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_6, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	7. 使用之教科書、教材或講義對學習很有幫助
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_7, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_7, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_7, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_7, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_7, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	8. 教師教授的教材內容充實豐富
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_8, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_8, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_8, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_8, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_8, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	9. 考試、作業的內容對學習很有幫助
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_9, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_9, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_9, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_9, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_9, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	10. 考核與評分的方式公平合理
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_10, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_10, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_10, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_10, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_10, 1%>		
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	11. 我可以很容易在教師的office hours或是利用其他方式與教師聯絡
		</div>
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_11, 5%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_11, 4%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_11, 3%>		
		</div>	
    	<div class="col-sm-1">
			<%= r.radio_button :nctu_cce_feedback_2_11, 2%>		
		</div>	
    	<div class="col-sm-2">
			<%= r.radio_button :nctu_cce_feedback_2_11, 1%>		
		</div>										
	</div>											
	<br>
	<div class="row">
    	<div class="col-sm-6">
        請寫出您對本課程或授課教師的建議：（盡量寫下具體的建議）
		</div>
    	<div class="col-sm-5">
			<%= r.text_area :nctu_cce_feedback_3_1, class: 'form-control'%>		
		</div>										
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	學習評估
		</div>										
	</div>	
	<div class="row">
    	<div class="col-sm-6">
    	1. 我對這門課的態度 
		</div>
		<div class="col-sm-6">
		<%=r.select :nctu_cce_feedback_4_1, options_for_select([["認真", 0 ], ["一般", 1 ], ["不認真", 2 ]], r.object.nctu_cce_feedback_4_1), {}, class: 'form-control' %>
		</div>		    											
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	2. 我的缺席狀況 
		</div>
    	<div class="col-sm-6">
			<%=r.select :nctu_cce_feedback_4_2, options_for_select([["從不缺課", 0 ], ["極少(3次以下)", 1 ], ["偶爾", 2 ], ["常常缺課(超過1/3)", 3 ]], r.object.nctu_cce_feedback_4_2), {}, class: 'form-control' %>  		
		</div>			   											
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	3. 我每週平均自習本課程的時數約為 
		</div>
    	<div class="col-sm-6">
			<%=r.select :nctu_cce_feedback_4_3, options_for_select([["0~2小時", 0 ], ["3~5小時", 1 ], ["6小時以上", 2 ]], r.object.nctu_cce_feedback_4_3), {}, class: 'form-control' %>  		
		</div>		    											
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	4. 預期學期結束時，我在本課程的成績 
		</div>
    	<div class="col-sm-6">
			<%=r.select :nctu_cce_feedback_4_4, options_for_select([["前1/3", 0 ], ["中1/3", 1 ], ["後1/3", 2 ]], r.object.nctu_cce_feedback_4_4), {}, class: 'form-control' %>  		
		</div>		    											
	</div>
	<div class="row">
    	<div class="col-sm-6">
    	5. 本課程之難易度如何 
		</div>
    	<div class="col-sm-6">
			<%=r.select :nctu_cce_feedback_4_5, options_for_select([["艱深", 0 ], ["適中", 1 ], ["過淺", 2 ], ["無法判斷", 3 ]], r.object.nctu_cce_feedback_4_5), {}, class: 'form-control' %>  		
		</div>			    											
	</div>	
	<br><br><br>
<%end%>				
	<div class="row" style="margin-top: 20px">
    	<div class="col-sm-offset-6 col-sm-5">		
			<%= p.submit '填完送出',  class: "btn btn-primary"  %>
		</div>
	</div>
</div>
<%end%>
