<%if step >= 2%>
<%=link_to '退出報名', controller: 'nctu_cce_credit', action: 'cancel', id: progress.id %>
<%end%>
<ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-<%=stepProgress step: 1, step_now: step%>">填表</li><!--
 --><li class="progtrckr-<%=stepProgress step: 2, step_now: step%>">審核</li><!--
 --><li class="progtrckr-<%=stepProgress step: 3, step_now: step%>">繳費</li><!-- 	 	
 --><li class="progtrckr-<%=stepProgress step: 4, step_now: step%>">完成</li>
</ol>
