<%= render partial: "layouts/managementHeader", locals: {item: @item} %>
<%= render partial: "user", locals: {item: @item} %>
<br><br>
<%@item.sub_items.each do |s|%>	
<h3><%= s.title%></h3>
<div class="table-responsive">
<table class="table table-striped ">
  <tr>
    <th>姓名</th>      	
    <th>分數</th>     
    <th>出席率(%)</th>     
    <th>資格</th>        
  </tr>	
	<%s.registered_sub_items.each do |r| %>
		<%if r.progress.stage >= 4 %>
		<tr>
			<td><%= r.progress.user.name%></td>
		    <td><%= text_field_tag 'score_'+r.id, r.score, class: "", onchange: 'scoreAjaxHandler("'+r.id+'")', placeholder: "" %>分</td>
		    <td><%= text_field_tag 'attendance_'+r.id, r.attendance, class: "", onchange: 'attendanceAjaxHandler("'+r.id+'")', placeholder: "" %>%</td>
		    <td>     
		    <%= radio_button_tag 'certificate_'+r.id, false, !!(!r.certificate), class: "", onchange: 'certificateAjaxHandler("'+r.id+'")'%>不及格
		    <%= radio_button_tag 'certificate_'+r.id, true, !!(r.certificate), class: "", onchange: 'certificateAjaxHandler("'+r.id+'")'%>及格
		    </td>		
		</tr>
		<%end%>
	<%end%>
</table>	
</div>
<%end%>


<script>
function scoreAjaxHandler(id)
{
	var request = $.ajax({
	url: "/nctu_cce_credit/updateScore",
	type: "POST",
	data: { id: id, val: $( "#score_"+id ).val(), type: 'score' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}	
function attendanceAjaxHandler(id)
{
	var request = $.ajax({
	url: "/nctu_cce_credit/updateScore",
	type: "POST",
	data: { id: id, val: $( "#attendance_"+id ).val(), type: 'attendance' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}
function certificateAjaxHandler(id)
{	
	var request = $.ajax({
	url: "/nctu_cce_credit/updateScore",
	type: "POST",
	data: { id: id, val: $( 'input[name="certificate_'+id+'"]:checked' ).val(), type: 'certificate' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}	
</script>