<%= render partial: "layouts/managementHeader", locals: {period: @period} %>
<%= render partial: "basic", locals: {period: @period} %>
<br><br>
<div class="container" >
<%= form_for @period, url: { controller: 'nctu_cce_credit', action: "updateCourses", id: @period.id }, html: {class: "form-horizontal", role: "form"}, method: :post do |i| %>
	<div class="form-group">
		<label class="col-sm-offset-2 col-sm-3">課程名稱*</label>
		<label class="col-sm-2">學費*</label>
		<label class="col-sm-2">招生人數*</label>
		<label class="col-sm-2">已報名人數</label>			
	</div>  
	<%= i.fields_for :courses do |ii| %>	
	<div class="form-group">
		<label class="col-sm-offset-2 col-sm-3"><%= ii.text_field :title, class: "form-control", placeholder: "課程名稱" %></label>
		<label class="col-sm-2"><%= ii.text_field :price, class: "form-control", placeholder: "學費" %></label>
		<label class="col-sm-2"><%= ii.text_field :no_of_users, class: "form-control", placeholder: "招生人數" %></label>
		<label class="col-sm-2"><%= @period.progresses.size %></label>
		
	</div> 
  	<% end %>	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<%= i.submit '儲存',  class: "btn btn-primary" %>
		</div>
	</div>
<% end %>
</div>
