<%= render partial: "layouts/managementHeader", locals: {item: @item} %>
<h3 class="text-center">基本資料設定</h3><br>
<div class="container" >
<%= form_for @item, url: { controller: 'nctu_cce_credit', action: "updateItem", id: @item.id }, method: 'post', html: {class: "form-horizontal", role: "form"} do |i| %>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">學年</label>
		<div class="col-sm-3">
			<%= i.select :school_year, options_for_select([[Time.now.year-1912, Time.now.year-1912], 
														   [Time.now.year-1911, Time.now.year-1911],			
														   [Time.now.year-1910, Time.now.year-1910],	
														   [Time.now.year-1909, Time.now.year-1909]], @item.school_year), {include_blank: true}, class: "form-control" %>		
		</div>
		<label class="col-sm-1 control-label">學期</label>
		<div class="col-sm-2">
			<%= i.select :semester, options_for_select([["上", 1], ["寒假", -1], ["下", 2], ["暑假", -2]], @item.semester), {include_blank: true}, class: "form-control" %>		
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">報名開放時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :start_at, class: "form-control", id: 'datetimepicker_start_at', placeholder: "報名開放時間" %>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">報名結束時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :end_at, class: "form-control", id: 'datetimepicker_end_at', placeholder: "報名結束時間" %>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">繳費開放時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :payment_start_at, class: "form-control", id: 'datetimepicker_payment_start_at', placeholder: "繳費開放時間" %>	
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">繳費結束時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :payment_end_at, class: "form-control", id: 'datetimepicker_payment_end_at', placeholder: "繳費結束時間" %>	
		</div>
	</div>


<div class="form-group">
	<div class="col-sm-offset-3 col-sm-6">
		<%= i.submit '儲存',  class: "btn btn-default"  %>
	</div>
</div>
<% end %>
</div>
<script type="text/javascript">
	$(function () {
		$('#datetimepicker_start_at, #datetimepicker_end_at, #datetimepicker_payment_start_at, #datetimepicker_payment_end_at').datetimepicker({
			use24hours : true,
			format : 'YYYY/MM/DD HH:mm'		
	    });   	    
	});
</script>	