<%= render partial: "layouts/managementHeader", locals: {period: @period} %>
<div class="container-fluid">
	<div class="row">	
		<div class="col-sm-12 text-center">
			<%=link_to '匯出帳單表', "/periods/export_vaccounts.xls?id=#{@period.id}", class: 'btn btn-info' %>	
			<%=link_to '匯出學員資料', "/nctu_cce_credit/export_users.xls?id=#{params[:id]}", class: 'btn btn-info' %>	
			<!--<%=link_to "列印簽到表", "/nctu_cce_credit/attendancePrint?id="+@period.id.to_s, class: "btn btn-info" %>-->
			<%=link_to "匯出簽到表", "/nctu_cce_credit/exportAttendance.xls?id="+@period.id.to_s, class: "btn btn-info" %>
			<%=link_to "匯出點名單", "/nctu_cce_credit/exportAttendanceForTeacher.xls?id="+@period.id.to_s, class: "btn btn-info" %>			
		</div>				
	</div>
</div>