<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">姓名</Data></Cell>
				<Cell><Data ss:Type="String">英文姓名</Data></Cell>
				<Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">身分證字號</Data></Cell>
        <Cell><Data ss:Type="String">最高(畢/肄/就讀)學校</Data></Cell>
        <Cell><Data ss:Type="String">最高(科/系/所)</Data></Cell>
				<Cell><Data ss:Type="String">聯絡電話(一般)</Data></Cell>
				<Cell><Data ss:Type="String">聯絡電話(行動)</Data></Cell>
				<Cell><Data ss:Type="String">聯絡地址</Data></Cell>
				<Cell><Data ss:Type="String">報名課程</Data></Cell>
      </Row>
    <% @progresses.each do |progress|%>
			<% user = progress.user%>
      <Row>
        <Cell><Data ss:Type="String"><%=user.name%></Data></Cell>
				<Cell><Data ss:Type="String"><%=user.name_en%></Data></Cell>
				<Cell><Data ss:Type="String"><%=user.email%></Data></Cell>
        <Cell><Data ss:Type="String"><%=user.id_no_TW%></Data></Cell>
        <Cell><Data ss:Type="String"><%=user.hightest_education_school%></Data></Cell>
        <Cell><Data ss:Type="String"><%=user.hightest_education_department%></Data></Cell>
				<Cell><Data ss:Type="String"><%=user.phone_no%></Data></Cell>
				<Cell><Data ss:Type="String"><%=user.mobile_phone_no%></Data></Cell>
				<Cell><Data ss:Type="String"><%=user.address%></Data></Cell>
				<Cell><Data ss:Type="String">
					<% progress.registered_courses.map{|c| c.course.title}.join(", ")%>
				</Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

