<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>EasyReg</Author>
  <Version>15.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>7110</WindowHeight>
  <WindowWidth>21795</WindowWidth>
  <WindowTopX>0</WindowTopX>
  <WindowTopY>0</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="m124703632">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Bold="1"/>
  </Style>
  <Style ss:ID="m124703652">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Bold="1"/>
  </Style>
  <Style ss:ID="m124703672">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Bold="1"/>
  </Style>
  <Style ss:ID="m124703692">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Bold="1"/>
  </Style>
  <Style ss:ID="m124703712">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Left" ss:LineStyle="Double" ss:Weight="3"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#000000"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Bold="1"/>
  </Style>
  <Style ss:ID="s15">
   <Alignment ss:Vertical="Bottom"/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"/>
  </Style>
  <Style ss:ID="s57">
   <Alignment ss:Vertical="Bottom"/>
   <Font ss:FontName="Times New Roman" x:Family="Roman" ss:Size="8"/>
  </Style>
  <Style ss:ID="s58">
   <Alignment ss:Vertical="Bottom"/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="11"/>
  </Style>
  <Style ss:ID="s59">
   <Alignment ss:Vertical="Bottom"/>
   <Font ss:FontName="Times New Roman" x:Family="Roman" ss:Size="11"/>
  </Style>
  <Style ss:ID="s60">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="9"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s61">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman"/>
  </Style>
  <Style ss:ID="s62">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman"/>
  </Style>
  <Style ss:ID="s63">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Double" ss:Weight="3"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman"/>
  </Style>
  <Style ss:ID="s64">
   <Alignment ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"/>
  </Style>

  <Style ss:ID="s99">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman"/>
  </Style>
  <Style ss:ID="s100">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s101">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s102">
   <Alignment ss:Vertical="Bottom"/>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="11"
    ss:Bold="1"/>
   <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="s103">
   <Alignment ss:Horizontal="Left" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s104">
   <Alignment ss:Horizontal="Right" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
   </Borders>
   <Font ss:FontName="新細明體" x:CharSet="136" x:Family="Roman" ss:Size="12"
    ss:Bold="1"/>
  </Style>
 </Styles>
 <% @period.courses.each do |c| %>
 <Worksheet ss:Name="<%=c.title.gsub(':','')%>">
  <Table ss:ExpandedColumnCount="20" ss:ExpandedRowCount="66" x:FullColumns="1"
   x:FullRows="1" ss:StyleID="s15" ss:DefaultColumnWidth="54"
   ss:DefaultRowHeight="12">
   <Column ss:StyleID="s57" ss:AutoFitWidth="0" ss:Width="18.75"/>
   <Column ss:Index="4" ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="45.75"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="43.5"/>
   <Column ss:StyleID="s15" ss:AutoFitWidth="0" ss:Width="20.25" ss:Span="14"/>
   <Row ss:Height="16.5" ss:StyleID="s58">
    <Cell ss:StyleID="s59"/>
    <Cell ss:MergeAcross="18" ss:StyleID="s100"><Data ss:Type="String">國 立 交 通 大 學 點 名 單</Data></Cell>
   </Row>
   <Row ss:Height="16.5" ss:StyleID="s58">
    <Cell ss:StyleID="s59"/>
    <Cell ss:MergeAcross="1" ss:StyleID="s101"><Data ss:Type="String"></Data></Cell>
    <Cell ss:Index="5" ss:MergeAcross="8" ss:StyleID="s100"><Data ss:Type="String"></Data></Cell>
    <Cell ss:Index="17" ss:MergeAcross="3" ss:StyleID="s102"><Data ss:Type="String"><%=Time.now.strftime("%Y/%m/%d")%></Data></Cell>
   </Row>
   <Row ss:Height="16.5" ss:StyleID="s58">
    <Cell ss:StyleID="s59"/>
    <Cell ss:MergeAcross="8" ss:StyleID="s103"><Data ss:Type="String">科目：<%=c.title%></Data></Cell>
    <Cell ss:MergeAcross="9" ss:StyleID="s104"><Data ss:Type="String">修課總人數：<%=c.registered_courses.where(:progress_id.in => Progress.gt(stage: 3).pluck(:id)).count%> 人 第 1/1 頁</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="2" ss:MergeDown="1" ss:StyleID="m124703632"><ss:Data
      ss:Type="String" xmlns="http://www.w3.org/TR/REC-html40"><B>班<Font
        html:Face="Times New Roman" x:Family="Roman">     </Font><Font>級</Font></B></ss:Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m124703652"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B>學<Font html:Face="Times New Roman"
        x:Family="Roman">     </Font><Font>號</Font></B></ss:Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m124703672"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B>姓<Font html:Face="Times New Roman"
        x:Family="Roman">    </Font><Font>名</Font></B></ss:Data></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m124703692"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B>備<Font html:Face="Times New Roman"
        x:Family="Roman">     </Font><Font>註</Font></B></ss:Data></Cell>
    <Cell ss:MergeAcross="14" ss:StyleID="m124703712"><ss:Data ss:Type="String"
      xmlns="http://www.w3.org/TR/REC-html40"><B>成<Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>績</Font><Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>或</Font><Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>出</Font><Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>席</Font><Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>紀</Font><Font html:Face="Times New Roman"
        x:Family="Roman">   </Font><Font>錄</Font></B></ss:Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="6" ss:StyleID="s60"><Data ss:Type="Number">1</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">2</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">3</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">4</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">5</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">6</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">7</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">8</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">9</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">10</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">11</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">12</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">13</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">14</Data></Cell>
    <Cell ss:StyleID="s60"><Data ss:Type="Number">15</Data></Cell>
   </Row>
	<% c.registered_courses.where(:progress_id.in => Progress.gt(stage: 3).pluck(:id)).each_with_index do |r_c,i|%> 
		<Row ss:AutoFitHeight="0">
			<Cell><Data ss:Type="Number"><%=i+1%></Data></Cell>
			<Cell ss:StyleID="s61"><Data ss:Type="String"><%=@period.group.title%></Data></Cell>
			<Cell ss:StyleID="s62"><Data ss:Type="String"><%=r_c.progress.user.id.generation_time.strftime("%y%m%d") %><%=r_c.progress.user.id.to_s[-6, 6].hex.to_s.rjust(8, '0').to_s[-4, 4] %></Data></Cell>
			<Cell ss:StyleID="s62"><Data ss:Type="String"><%=r_c.progress.user.name%></Data></Cell>
			<Cell ss:StyleID="s63"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
			<Cell ss:StyleID="s64"/>
		</Row>
	<% end %>


 
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="2" ss:MergeAcross="18" ss:StyleID="s99"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Header x:Margin="0.28000000000000003"/>
    <Footer x:Margin="0.51"/>
    <PageMargins x:Bottom="0.59" x:Top="0.55000000000000004"/>
   </PageSetup>
   <Unsynced/>
   <DisplayPageBreak/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>99</Scale>
    <HorizontalResolution>-3</HorizontalResolution>
    <VerticalResolution>360</VerticalResolution>
   </Print>
   <PageBreakZoom>75</PageBreakZoom>
   <Selected/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>8</ActiveRow>
     <ActiveCol>24</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
 <% end %>
 
</Workbook>
