<%= render partial: "step", locals: {progress: @progress, step: @step} %>
<div class="container" >
<%= form_for current_user, url: { controller: 'nctu_cce_credit', action: "second"}, method: :post , html: {class: "form-horizontal", role: "form"} do |u| %>	
	<%unless @item.blank?%>
		<%= hidden_field_tag 'item_id', @item.id %>
	<%end%>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">姓名*</label>
		<div class="col-sm-6">
			<%= u.text_field :name, placeholder: '姓名', class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">出生年月日*</label>
		<div class="col-sm-6">
			<%if current_user.birthday.blank?%>
			<%= u.text_field :birthday, class: "form-control", id: 'datetimepicker_birthday', 'data-date-format'=> 'YYYY/MM/DD', placeholder: "出生年月日" %>	
			<%else%>
			<%= u.text_field :birthday, value: current_user.birthday.strftime("%Y/%m/%d"),class: "form-control", id: 'datetimepicker_birthday', 'data-date-format'=> 'YYYY/MM/DD' %>				
			<%end%>
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_birthday').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">性別*</label>
		<div class="col-sm-6">
		<label class="radio-inline">
	  		<%=u.radio_button :gender, "true"%>男			
		</label>
		<label class="radio-inline">
	 	 	<%=u.radio_button :gender, "false"%>女		
		</label>			
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">身分證字號*</label>
		<div class="col-sm-6">
			<%= u.text_field :id_no_TW, class: "form-control" %>
		</div>
	</div>			
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">聯絡電話*</label>
		<div class="col-sm-6">
			<%= u.text_field :phone_no, class: "form-control" %>
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">聯絡地址*</label>
		<div class="form-inline col-sm-6">
			<span id="twzipcode"></span>
			<%= u.text_field :address, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">選擇課程*</label>		
	</div>	
	<div class="form-group">	
		<label class="col-sm-2 col-sm-offset-2">勾選(複選)</label>		
		<label class="col-sm-2">課程名稱</label>
		<label class="col-sm-2">學費</label>
		<label class="col-sm-2">報名人數 / 招生人數</label>	
	</div> 
	<% @item.sub_items.each do |ii|%>
	<div class="form-group">
		<div class="col-sm-2 col-sm-offset-2"><input type="checkbox" value="<%= ii.id%>" name="courses[]"></div>
		<div class="col-sm-2"><%= ii.title%></div>
		<div class="col-sm-2"><%= ii.price%></div>
		<div class="col-sm-2"><%= @item.progresses.size-1%> / <%= ii.no_of_user%></div>
	</div>			
	<%end%>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= u.submit '送出',  class: "btn btn-default"  %>
		</div>
	</div>
<% end %>

<script>
$('#twzipcode').twzipcode({
	zipcodeName: 'user[postal]',
    countyName: 'user[county]',
    districtName: 'user[district]',
    zipcodeIntoDistrict: true,
    css: ['form-control', 'form-control'], 
    <%unless current_user.county.blank?%>
	countySel: '<%=current_user.county%>',
	districtSel: '<%=current_user.district%>'
	<%end%>    
});
</script>