<%= render partial: "layouts/managementHeader", locals: {period: @period} %>
<div class="container-fluid">
	<div class="row">	
		<div class="col-sm-3">
			<%=link_to '刪除班級', {controller: 'nctu_cce', action: 'destroy', id: @period.id}, class: 'btn btn-danger', data: { confirm: '您確定要刪除此班級？' } %>				
		</div>		
		<div class="col-sm-9 text-right">
		  	<%=link_to '管理學員', {controller: 'nctu_cce_credit', action: 'sendMessage', id: @period.id}, class: 'btn btn-default' %>
		  	<%=link_to '設定/修改班級', {controller: 'nctu_cce_credit', action: 'editGroup', id: @period.group.id}, class: 'btn btn-default' %>
		  	<%=link_to '匯出資料表格', {controller: 'nctu_cce_credit', action: 'export', id: @period.id}, class: 'btn btn-default' %>		
		</div>		
	</div>
</div>
<br>
<div class="table-responsive">
<table class="table table-striped table-hover ">
  <tr>
  	<th>學號</th>
    <th>姓名</th>
    <th>聯絡電話(行動)</th>
    <th>email</th>
    <th>虛擬帳號</th>
    <th>已繳金額/須繳金額</th>        
    <th>報名進度</th>        
  </tr>	
<%@progresses.each do |p|%>
<tr id='link1' onclick="document.location='<%=Rails.configuration.easyregister_host%>nctu_cce_credit/showProgress?id=<%=p.id%>';">
	<td>
		<%= p.user.id.generation_time.strftime("%y%m%d") %><%=p.user.id.to_s[-6, 6].hex.to_s.rjust(8, '0').to_s[-4, 4] %>
	</td>  
	<td><%=p.user.name%></td>
	<td><%=p.user.mobile_phone_no%></td>
	<td><%=p.user.email%></td> 
	<td><%if p.vaccount %><%=p.vaccount.vacc %><%end%></td>
	<td><%if p.vaccount %><%=(p.vaccount.status) ? p.vaccount.status["Amount"] : 0.0 %> NT / <%=p.payment.to_s%> NT <%end%></td>      
	<td><%=CCEStageText p.stage%></td> 
</tr>
<%end%>
</table>
</div>
<div class="pagination">
  <%= will_paginate @progresses, renderer: BootstrapPagination::Rails %>
</div>