<%=render "newStep" %>
<%= form_for @group, url: { controller: 'nctu_cce_credit', action: "new_courses" }, html: {class: "form-horizontal", role: "form"} do |g| %>
<% if @group.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@group.errors.count, "error") %> prohibited this item from being saved:</h2>

	<ul>
		<% @group.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
		<%= g.hidden_field :module %>		
<div class="form-group">
	<label class="col-sm-2 control-label">班級名稱*</label>
	<div class="col-sm-6">
		<%= g.text_field :title, class: "form-control", placeholder: "班級名稱" %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-2 control-label">班級簡介*</label>
	<div class="col-sm-6">
		<%= g.text_area :description, class: "form-control", placeholder: "班級簡介" %>
	</div>
</div>

  <%= g.fields_for :items do |i| %>
	<%= i.hidden_field :verification_code %>  
	<div class="form-group">
		<label class="col-sm-2 control-label">學年</label>
		<div class="col-sm-3">
			<%= i.select :school_year, options_for_select([[Time.now.year-1912, Time.now.year-1912], 
														   [Time.now.year-1911, Time.now.year-1911],			
														   [Time.now.year-1910, Time.now.year-1910],	
														   [Time.now.year-1909, Time.now.year-1909]]), {prompt: '學年'}, class: "form-control" %>		
		</div>
		<label class="col-sm-1 control-label">學期</label>
		<div class="col-sm-2">
			<%= i.select :semester, options_for_select([["一", 1], ["二", 2]]), {prompt: '學期'}, class: "form-control" %>		
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 control-label">報名開放時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :start_at, class: "form-control", id: 'datetimepicker_start_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "報名開放時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_start_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">報名結束時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :end_at, class: "form-control", id: 'datetimepicker_end_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "報名結束時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_end_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">繳費開放時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :payment_strat_at, class: "form-control", id: 'datetimepicker_payment_strat_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "繳費開放時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_payment_strat_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">繳費結束時間*</label>
		<div class="col-sm-6">
			<%= i.text_field :payment_end_at, class: "form-control", id: 'datetimepicker_payment_end_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "繳費結束時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_payment_end_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
  <% end %>

<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<%= g.submit '下一步',  class: "btn btn-default"  %>
	</div>
</div>
<% end %>
