<%=render "newStep" %>
<%= form_tag 'nctu_cce_credit/create', class: "form-horizontal", role: "form" do |i| %>
  <%= hidden_field_tag 'item_id', @item.id%>
	<div class="form-group">
		<label class="col-sm-offset-2 col-sm-3">課程名稱*</label>
		<label class="col-sm-2">費用*</label>
		<label class="col-sm-2">招生人數*</label>
	</div>  
	<div class="course_container">
		
	<div class="form-group">
		<div class="col-sm-3 col-sm-offset-2">
			<%= text_field_tag :title, nil, class: "form-control", placeholder: "課程名稱" %>	
		</div>
		<div class="col-sm-2">
			<%= text_field_tag :price, nil, class: "form-control", placeholder: "費用" %>	
		</div>	
		<div class="col-sm-2">
			<%= text_field_tag :no_of_user, nil, class: "form-control", placeholder: "招生人數" %>	
		</div>			
		<div class="col-sm-1">
			<span class="btn btn-danger glyphicon glyphicon-trash" aria-hidden="true"></span>
		</div>	
	</div>
	<div class="form-group">
		<div class="col-sm-3 col-sm-offset-2">
			<%= text_field_tag :title, nil, class: "form-control", placeholder: "課程名稱" %>	
		</div>
		<div class="col-sm-2">
			<%= text_field_tag :price, nil, class: "form-control", placeholder: "學費" %>	
		</div>	
		<div class="col-sm-2">
			<%= text_field_tag :no_of_user, nil, class: "form-control", placeholder: "招生人數" %>	
		</div>			
		<div class="col-sm-1">
			<span class="btn btn-danger glyphicon glyphicon-trash" aria-hidden="true" onclick="delCourse()"></span>
		</div>	
	</div>	
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="btn btn-default glyphicon glyphicon-plus" aria-hidden="true" onclick="addCourse()"></span>			
		</div>
	</div>  	
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= submit_tag '完成送出',  class: "btn btn-primary"  %>
		</div>
	</div>
<% end %>

<script>
var index = 0;
function addCourse() {
	var $div_course = $("<div>", {id: "course_"+index, class: "form-group"});
	
	var $col = $("<div>", {class: "col-sm-3 col-sm-offset-2"});					
	var $input_title = $("<input>", {id: "course_title_"+index, class: "form-control", type:"text", name: "title[]" , placeholder: "課程名稱" });
	$col.append($input_title)
	$div_course.append($col);	
	$col = $("<div>", {class: "col-sm-2"});		
	var $input_price = $("<input>", {id: "course_price_"+index, class: "form-control", type:"text", name: "price[]" , placeholder: "學費" });
	$col.append($input_price)
	$div_course.append($col);
	$col = $("<div>", {class: "col-sm-2"});		
	var $input_no_of_user = $("<input>", {id: "course_no_of_user_"+index, class: "form-control", type:"text", name: "no_of_user[]" , placeholder: "招生人數" });
	$col.append($input_no_of_user)
	$div_course.append($col);
	$col = $("<div>", {class: "col-sm-1"});		
	var $del_botton = $("<span>", {id: "del_botton_"+index, class: "btn btn-danger glyphicon glyphicon-trash", onclick: "delCourse("+index+")" });
	$col.append($del_botton)
	$div_course.append($col);	
	
	$('.course_container').append($div_course);
	index++;
}		
function delCourse(i){
	$('#course_'+i).remove();
}
</script>
