<%=render "newStep" %>
<%= form_for @group, url: { controller: 'nctu_cce_credit', action: "create" }, html: {class: "form-horizontal", role: "form"} do |g| %>
	<%= hidden_field_tag :step, @step %>
	<%= g.hidden_field :module %>		
	<%= g.hidden_field :title%>
	<%= g.hidden_field :description%>
	<%= g.fields_for :items do |i| %>
		<%= i.hidden_field :verification_code %>  
		<%= i.hidden_field :school_year %> 
		<%= i.hidden_field :semester %> 
		<%= i.hidden_field :start_at %> 
		<%= i.hidden_field :end_at %> 							
		<%= i.hidden_field :payment_start_at %> 
		<%= i.hidden_field :payment_end_at %> 
  	<% end %>
  	
	<div class="form-group">
		<label class="col-sm-offset-2 col-sm-3">課程名稱*</label>
		<label class="col-sm-2">學費*</label>
		<label class="col-sm-2">招生人數*</label>
	</div>  
	<div class="course_container">
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<span class="btn btn-default glyphicon glyphicon-plus" aria-hidden="true" onclick="addCourse()"></span>			
		</div>
	</div>  

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= g.submit '完成送出',  class: "btn btn-primary" %>
		</div>
	</div>
<% end %>

<script>
var index = 0;

<% if @title.blank? %>
	addCourse();
<%else%>
	<% @title.each_with_index do |t, i|%>
		addCourse('<%=t%>', '<%=@price[i]%>', '<%=@no_of_user[i]%>');	
	<%end%>	
<%end%>

function addCourse(title, price, no_of_user) {
	var $div_course = $("<div>", {id: "course_"+index, class: "form-group"});
	
	var $col = $("<div>", {class: "col-sm-3 col-sm-offset-2"});					
	var $input_title = $("<input>", {id: "course_title_"+index, class: "form-control", type:"text", name: "title[]", value: title, placeholder: "課程名稱" });
	$col.append($input_title)
	$div_course.append($col);	
	$col = $("<div>", {class: "col-sm-2"});		
	var $input_price = $("<input>", {id: "course_price_"+index, class: "form-control", type:"text", name: "price[]", value: price, placeholder: "學費" });
	$col.append($input_price)
	$div_course.append($col);
	$col = $("<div>", {class: "col-sm-2"});		
	var $input_no_of_user = $("<input>", {id: "course_no_of_user_"+index, class: "form-control", type:"text", name: "no_of_user[]", value: no_of_user, placeholder: "招生人數" });
	$col.append($input_no_of_user)
	$div_course.append($col);
	$col = $("<div>", {class: "col-sm-1"});		
	var $del_botton = $("<span>", {id: "del_botton_"+index, class: "btn btn-danger glyphicon glyphicon-trash", onclick: "delCourse("+index+")" });
	$col.append($del_botton)
	$div_course.append($col);	
	
	$('.course_container').append($div_course);
	index++;
}		
function delCourse(i){
	$('#course_'+i).remove();
}
</script>
