<%= render partial: "layouts/managementHeader", locals: {item: @item} %>
<h3 class="text-center">群組寄信</h3><br>
<div class="container" >
<%= form_tag('/nctu_cce_credit/sendMessage', multipart: true, class: "form-horizontal") do%>
  <%=hidden_field_tag 'id', @item.id%>
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">標題</label>
    <div class="col-sm-6">
      <%= text_field_tag 'subject', nil, class: 'form-control', placeholder: '標題'%>	
    </div>
  </div>
  <div class="form-group">  
    <label for="inputEmail3" class="col-sm-offset-1 col-sm-2 control-label">收件人</label>  	
    <div class="col-sm-6"> 
    	<% @item.progresses.each do |p|%>
		<label class="checkbox-inline">
			<%= check_box_tag 'recipients[]', p.user.id%><%=p.user.name %>
		</label>    	
    	<%end%>  
    </div>	
  </div>  
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">內容</label>
    <div class="col-sm-6">
    	<%= text_area_tag 'content', nil, class: 'form-control', rows: 3, cols: 10, placeholder: "內容"%>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">附件</label>
	<div class="col-sm-6">
 		<input name="attachment[]" id="input-att" type="file" class="file" data-preview-file-type="text" multiple>
	</div>   
  </div> 
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <%=submit_tag "寄出", class: "btn btn-default"%>	
    </div>
  </div>
<%end%>
<script>
$("#input-att").fileinput({'showUpload':false, 'previewFileType':'any', 'showCaption': false});
</script>