<%= render partial: "layouts/managementHeader", locals: {period: @group.periods.first} %>
<%= render partial: "basic", locals: {period: @group.periods.first} %>
<br><br>
<div class="container" >
<%= form_for @group, url: { controller: 'basic', action: "updateGroup", id: @group.id }, method: 'post', html: {class: "form-horizontal", role: "form"} do |g| %>	
<div class="form-group">
	<label class="col-sm-offset-1 col-sm-2 control-label">名稱*</label>
	<div class="col-sm-6">
		<%= g.text_field :title, class: "form-control", placeholder: "名稱" %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-offset-1 col-sm-2 control-label">簡介*</label>
	<div class="col-sm-6">
		<%= g.text_area :description, class: "form-control", placeholder: "簡介" %>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-6">
		<%= g.submit '儲存',  class: "btn btn-primary"  %>
	</div>
</div>
<% end %>
</div>
