<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
	<Styles>
		<Style ss:ID="header">
		 <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
		</Style>
	</Styles>
	<% @period.courses.each do |c| %>
		<Worksheet ss:Name="<%=c.title.gsub(':','')%>">
			<Table>
				<ss:Column ss:Width="80"/>
				<ss:Column ss:Width="90"/>
				<ss:Column ss:Width="90"/>
				<ss:Column ss:Width="80"/>
				<ss:Column ss:Width="90"/>
				<ss:Column ss:Width="90"/>
				<% if @period.school_year %>  
					<Row ss:Height="30">
						<Cell ss:MergeAcross="5" ss:StyleID="header">
						<Data ss:Type="String">
							<%=@period.school_year%>學年
							<% if @period.semester %>
								<%=Hash[semesterOptions].rassoc(@period.semester).first%>
							<% end %>
						</Data>
						</Cell>
					</Row>
				<% end %>
				<Row ss:Height="30">
					<Cell ss:MergeAcross="5" >
					<Data ss:Type="String">
						<%=c.title%>
						修課人數:<%=c.registered_courses.where(:progress_id.in => Progress.gte(stage: 4).pluck(:id)).count%>
					</Data>
					</Cell>
				</Row>			
				<Row>
					<Cell><Data ss:Type="String">學號</Data></Cell>
					<Cell><Data ss:Type="String">姓名</Data></Cell>
					<Cell><Data ss:Type="String">簽名</Data></Cell>
					<Cell><Data ss:Type="String">學號</Data></Cell>
					<Cell><Data ss:Type="String">姓名</Data></Cell>
					<Cell><Data ss:Type="String">簽名</Data></Cell>
				</Row>
			<% c.registered_courses.where(:progress_id.in => Progress.gt(stage: 3).pluck(:id)).each_slice(2) do |r_cs|%> 
				<Row>
				<% r_cs.each do |r_c| %>		
					<Cell><Data ss:Type="String">
						<%=r_c.progress.user.id.generation_time.strftime("%y%m%d") %><%=r_c.progress.user.id.to_s[-6, 6].hex.to_s.rjust(8, '0').to_s[-4, 4] %>
					</Data></Cell>	
					<Cell><Data ss:Type="String"><%=r_c.progress.user.name%></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
				<% end %>		    
				</Row>
			<% end %>
			</Table>
		</Worksheet>
	<% end %>
</Workbook> 
