<%= render partial: "newStep", locals: {step: @step} %>
<div class="container" >
<%= form_for @group, url: { controller: 'basic', action: "create" }, html: {class: "form-horizontal", role: "form"} do |g| %>
<div class="form-group">
	<label class="col-sm-offset-1 col-sm-2 control-label">名稱*</label>
	<div class="col-sm-6">
		<%= g.text_field :title, class: "form-control", placeholder: "名稱" %>
	</div>
</div>
<div class="form-group">
	<label class="col-sm-offset-1 col-sm-2 control-label">簡介*</label>
	<div class="col-sm-6">
		<%= g.text_area :description, class: "form-control", placeholder: "簡介" %>
	</div>
</div>
  <%= g.fields_for :periods do |p| %>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">期數</label>
		<div class="col-sm-6">
			<%= p.text_field :term, class: "form-control", placeholder: "期數" %>
		</div>
	</div>		
	<%= p.fields_for :courses do |c| %>
		<div class="form-group">
			<label class="col-sm-offset-1 col-sm-2 control-label">招生人數*</label>
			<div class="col-sm-6">
				<%= c.text_field :no_of_users, class: "form-control", placeholder: "招生人數" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-offset-1 col-sm-2 control-label">費用*</label>
			<div class="col-sm-6">
				<%= c.text_field :price, class: "form-control", placeholder: "費用" %>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-offset-1 col-sm-2 control-label">地點*</label>
			<div class="col-sm-6">
				<%= c.text_field :location, class: "form-control", placeholder: "地點" %>
			</div>
		</div>		
		<div class="form-group">
			<label class="col-sm-offset-1 col-sm-2 control-label">課程開始時間*</label>
			<div class="col-sm-6">
				<%= c.text_field :start_at, class: "form-control", id: 'datetimepicker1_start_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "課程開始時間" %>	
			</div>
		    <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker1_start_at').datetimepicker({
		                });
		            });
		    </script>	
		</div>
		<div class="form-group">
			<label class="col-sm-offset-1 col-sm-2 control-label">課程結束時間*</label>
			<div class="col-sm-6">
				<%= c.text_field :end_at, class: "form-control", id: 'datetimepicker2_end_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "課程結束時間" %>	
			</div>
		    <script type="text/javascript">
		            $(function () {
		                $('#datetimepicker2_end_at').datetimepicker({
		                });
		            });
		    </script>	
		</div>		
	<%end%>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">報名對象*</label>
		<div class="col-sm-6">
			<%= p.text_field :eligibility, class: "form-control", placeholder: "報名對象" %>	
		</div>
	</div>		
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">報名開放時間*</label>
		<div class="col-sm-6">
			<%= p.text_field :start_at, class: "form-control", id: 'datetimepicker_start_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "報名開放時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_start_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">報名結束時間*</label>
		<div class="col-sm-6">
			<%= p.text_field :end_at, class: "form-control", id: 'datetimepicker_end_at', 'data-date-format'=> 'YYYY/MM/DD hh:mm:ss', placeholder: "報名結束時間" %>	
		</div>
	    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker_end_at').datetimepicker({
	                });
	            });
	    </script>	
	</div>
	<div class="form-group">
		<label class="col-sm-offset-1 col-sm-2 control-label">注意事項</label>
		<div class="col-sm-6">
			<%= p.text_area :precautions, class: "form-control", placeholder: "注意事項" %>	
		</div>
	</div>	
  <% end %>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<%= g.submit '完成送出',  class: "btn btn-primary"  %>
	</div>
</div>
<% end %>
</div>
