<%= render partial: "layouts/managementHeader", locals: {period: @period} %>
<%= render partial: "user", locals: {period: @period} %>
<br><br>
<div class="container" >
<%= form_tag('/basic/sendMessage', multipart: true, class: "form-horizontal") do%>
  <%=hidden_field_tag 'id', @period.id%>
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">標題</label>
    <div class="col-sm-6">
      <%= text_field_tag 'subject', nil, class: 'form-control', placeholder: '標題'%>	
    </div>
  </div>
  <div class="form-group">  
    <label for="inputEmail3" class="col-sm-offset-1 col-sm-2 control-label">收件人</label>  	
    <div class="col-sm-6"> 
    	<%@period.courses.each do |c| %>
 			<br><ins>已報名完成</ins><br>    	
			<label class="checkbox-inline">
				<%= check_box_tag 'course_'+c.id%>全選			
			</label>   			 	
    		<%c.registered_courses.each do |r_c| %>
    			<%if r_c.progress.stage >= 3%>
					<label class="checkbox-inline">
						<%= check_box_tag 'recipients[]', r_c.progress.user.id, false, class: 'r_c_of_course_'+c.id%><%=r_c.progress.user.name %>
					</label>    			
    			<%end%>	
    		<%end%>
			<br><br><ins>未報名完成</ins><br>
    		<%c.registered_courses.each do |r_c| %>
    			<%if r_c.progress.stage == 2 %>
					<label class="checkbox-inline">
						<%= check_box_tag 'recipients[]', r_c.progress.user.id, false, class: ''%><%=r_c.progress.user.name %>
					</label>    			
    			<%end%>	
    		<%end%>     		
    	<hr>
    	<%end%>
    </div>	
  </div>  
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">內容</label>
    <div class="col-sm-6">
    	<%= text_area_tag 'content', nil, class: 'form-control', rows: 3, cols: 10, placeholder: "內容"%>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">附件</label>
	<div class="col-sm-6">
 		<input name="attachment[]" id="input-att" type="file" class="file" data-preview-file-type="text" multiple>
	</div>   
  </div> 
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <%=submit_tag "寄出", class: "btn btn-primary", "data-loading-text"=>"寄送中..." %>	
    </div>
  </div>
<%end%>
</div>
<script>
$("#input-att").fileinput({showUpload:false, browseClass: "btn btn-default", browseLabel: " 選取檔案（可多選）", 'previewFileType':'any', 'showCaption': false});
$('form').submit(function(event){
	var recipients_error = true
	$('input[name^="recipients"]').each(function() {
	    if( this.checked )
	    	recipients_error = false
	});
	if($('#subject').val() == '')
	{
		toastr['error']('您沒填標題')		
		$(".submitButton").button('reset')					
		event.preventDefault();
		return false		
	}	
	if(recipients_error)
	{
		toastr['error']('您沒選擇收件人')			
		$(".submitButton").button('reset')			
		event.preventDefault();
		return false
	}
	$(".submitButton").button('loading')
})

<%@period.courses.each do |c| %>
$('#course_<%=c.id %>').change(function() {
   if ( this.checked )
   	$('.r_c_of_course_<%=c.id%>').prop('checked', true);
   else
   	$('.r_c_of_course_<%=c.id%>').prop('checked', false);
});
<%end%>
</script>