<div class="row">
<div class="panel panel-default col-sm-8 col-sm-offset-2">
	<div class="row">
		<div class="col-sm-1">
			<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'50x50' %></a>
		</div>	
		<div class="form-group col-sm-11">		
			<textarea class="form-control" rows="3"></textarea>
		</div>	
	</div>
	<div class="row">
	<div class="col-sm-offset-11">		
    <button type="submit" class="btn btn-primary">留言</button>
    </div>
    </div>
		<div class="panel-body" style="border-left: solid;">
			<div class="row">
				<div class="col-sm-1">
				</div>				
				<div class="col-sm-1">
				<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'50x50' %></a>
				</div>				
				<div class="col-sm-10">
					一生無侮就夠了
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-offset-2 col-sm-1">
					回覆
				</div>		
				<div class="col-sm-1">
					刪除
				</div>	
				<div class="col-sm-3">
					3天之前
				</div>											
			</div>
		</div>
		<div class="panel-body" style="border-left: solid #ff0000;">
			<div class="row">
				<div class="col-sm-1">
				</div>				
				<div class="col-sm-1">
				<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'50x50' %></a>
				</div>				
				<div class="col-sm-10">
					失官職得民心，撐！
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-offset-2 col-sm-1">
					回覆
				</div>		
				<div class="col-sm-1">
					刪除
				</div>	
				<div class="col-sm-3">
					3天之前
				</div>											
			</div>
		</div>	
		<div class="panel-body">
			<div class="panel-body col-sm-offset-2" style="border-left: solid;">
				<div class="row">
					<div class="col-sm-1">
					</div>				
					<div class="col-sm-1">
					<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'40x40' %></a>
					</div>				
					<div class="col-sm-6">
						 暢所欲言…………就係捐款比警察囉！
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-3 col-sm-offset-2">
						3天之前
					</div>											
				</div>
			</div>	
			<div class="panel-body col-sm-offset-2" style="border-left: solid blue;">
				<div class="row">
					<div class="col-sm-1">
					</div>				
					<div class="col-sm-1">
					<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'40x40' %></a>
					</div>				
					<div class="col-sm-6">
						 暢所欲言…………就係捐款比警察囉！
					</div>
				</div>	
				<div class="row">
					<div class="col-sm-3 col-sm-offset-2">
						3天之前
					</div>											
				</div>
			</div>				
		</div>		
		<div class="panel-body" style="border-left: solid #ff0000;">
			<div class="row">
				<div class="col-sm-1">
				</div>				
				<div class="col-sm-1">
				<a href="https://www.facebook.com/<%= current_user.uid%>" target="_blank"> <%= image_tag "http://graph.facebook.com/"+current_user.uid+"/picture", size:'50x50' %></a>
				</div>				
				<div class="col-sm-10">
					失官職得民心，撐！
				</div>
			</div>	
			<div class="row">
				<div class="col-sm-offset-2 col-sm-1">
					回覆
				</div>		
				<div class="col-sm-1">
					刪除
				</div>	
				<div class="col-sm-3">
					3天之前
				</div>											
			</div>
		</div>			
</div>
</div>


<script>
$(document).ready(function()
{	

	$('.ref_content').on('input propertychange', function () {
		$('.ref_content').urlive({
			container: '.urlive-container',
				callbacks: {
				onStart: function () {
				$('.ref_post_loading').show();
				$('.urlive-container').urlive('remove');
				},
				onSuccess: function (data) {
				$('.ref_post_loading').hide();
				},
				noData: function () {
				$('.ref_post_loading').hide();
				}
			}
		});
	});	












});	
	
	
</script>











