<%=link_to '退出報名', {controller: 'nctu_cce', action: 'cancel', id: progress.id}, class: 'btn btn-danger', data: { confirm: '您確定要退出報名？' } %>
<ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-<%=stepProgress step: 1, step_now: step%>">填表</li><!--
 --><li class="progtrckr-<%=stepProgress step: 2, step_now: step%>">審核</li><!--
 --><li class="progtrckr-<%=stepProgress step: 3, step_now: step%>">繳費</li><!-- 	 	
 --><li class="progtrckr-<%=stepProgress step: 4, step_now: step%>">完成</li>
</ol>
<%if !progress.reason.blank?%>
<h3 class="text-center" style="color: #dd5e59">取消原因: <%= progress.reason%></h3>
<%end%>
