<%= render partial: "layouts/managementHeader", locals: {item: @item} %>
<h3 class="text-center">成績管理</h3><br>
<table class="table table-striped ">
  <tr>
    <th>姓名</th>
    <th>分數</th>     
    <th>出席率(%)</th>   
    <th>證書字號</th>     
  </tr>	
<%@item.progresses.where(stage: 4).each do |p|%>
<tr>
    <td><%=p.user.name%></td>
    <td><%= text_field_tag 'score_'+p.id, p.score, class: "", onchange: 'scoreAjaxHandler("'+p.id+'")', placeholder: "" %>分</td>
    <td><%= text_field_tag 'attendance_'+p.id, p.attendance, class: "", onchange: 'attendanceAjaxHandler("'+p.id+'")', placeholder: "" %>%</td>
    <td><%= text_field_tag 'certificate_'+p.id, p.certificate_no, class: "", onchange: 'certificateAjaxHandler("'+p.id+'")', placeholder: "" %></td>    
</tr>
<%end%>
</table>


<script>
function scoreAjaxHandler(id)
{
	var request = $.ajax({
	url: "/nctu_cce/updateScore",
	type: "POST",
	data: { id: id, val: $( "#score_"+id ).val(), type: 'score' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}	
function attendanceAjaxHandler(id)
{
	var request = $.ajax({
	url: "/nctu_cce/updateScore",
	type: "POST",
	data: { id: id, val: $( "#attendance_"+id ).val(), type: 'attendance' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}
function certificateAjaxHandler(id)
{
	var request = $.ajax({
	url: "/nctu_cce/updateScore",
	type: "POST",
	data: { id: id, val: $( "#certificate_"+id ).val(), type: 'certificate' },
	dataType: "json"
	});
	request.done(function( message ) {
		addAlert('success', message.message)
	});
	request.fail(function( jqXHR, textStatus ) {
	});	
}	
</script>	
	
