<%= render partial: "layouts/managementHeader", locals: {item: @progress.item} %>
<h3 class="text-center">報名資料 (<%=stageText @progress.stage%>)</h3><br>

<div class="container" style="margin-bottom: 20px;">
	<div class="row">	
		<div class="">
		<%if @progress.stage >= 2%>	
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#agree-confirm">
		  	審核通過
			</button>	
			<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cancel-confirm">
		  	審核不通過/取消資格
			</button>			
		<%end%>		
			<%=link_to '刪除報名', {controller: 'nctu_cce', action: 'destroyProgress', id: @progress.id}, class: 'btn btn-danger', data: { confirm: '您確定要刪除報名？' } %>
		</div>
	</div><br>
 <table class="table">
  <tr>
    <th>姓名</th>
    <td><%=@progress.user.name%></td>
    <th>英文姓名</th>
    <td><%=@progress.user.name_en%></td>    
  </tr>
  <tr>
    <th>出生年月日</th>
    <td><%if !@progress.user.birthday.blank? %><%=@progress.user.birthday.strftime "%Y/%m/%d" %><%end%></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%if @progress.user.gender%>男<%else%>女<%end%></td>
  </tr>  
  <tr>
    <th>身分證字號</th>
    <td><%=@progress.user.id_no_TW%></td>
  </tr>  
  <tr>
    <th>最高(畢/肄/就讀)學校</th>
    <td><%=@progress.user.hightest_education_school%></td>
    <th>最高(科/系/所)</th>
    <td><%=@progress.user.hightest_education_department%></td>    
  </tr>   
  <tr>
    <th>聯絡電話</th>
    <td><%=@progress.user.phone_no%></td>
  </tr>   
  <tr>
    <th>聯絡地址</th>
    <td><%=@progress.user.postal%><%=@progress.user.county%><%=@progress.user.district%><%=@progress.user.address%></td>
  </tr>
  <tr>
    <th>服務單位名稱</th>
    <td><%=@progress.user.work_name%></td>
    <th>職稱</th>
    <td><%=@progress.user.work_title%></td>    
  </tr>  
  <tr>
    <th>服務單位聯絡電話</th>
    <td><%=@progress.user.work_phone_no%></td>
    <th>傳真</th>
    <td><%=@progress.user.work_fax_no%></td>      
  </tr>     
  <tr>
    <th>服務單位聯絡地址</th>
    <td><%=@progress.user.work_postal%><%=@progress.user.work_county%><%=@progress.user.work_district%><%=@progress.user.work_address%></td>
  </tr>  
  
  <tr>
    <th>服務單位聯絡人姓名</th>
    <td><%=@progress.user.work_contact_name%></td>
  </tr>  
  <tr>
    <th>服務單位聯絡人電話</th>
    <td><%=@progress.user.work_contact_phone_no%></td>
    <th>服務單位聯絡人Email</th>
    <td><%=@progress.user.work_contact_email%></td>      
  </tr>  
  
</table> 	
</div>


<div class="modal fade" id="agree-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">審核通過</h4>
      </div>
      <div class="modal-body">
       <%=label_tag "學費：（填0元會跳過繳費步驟，直接完成報名）"%> 
       <%= form_tag "/nctu_cce/verified?verify=true", :class=>"agree-form" do%>
       	<%=hidden_field_tag "id", @progress.id%>
       	<%=number_field_tag "payment", @progress.item.price, :class=>"form-control"%>
       <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('.agree-form').submit();">送出</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="cancel-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">審核不通過/取消資格</h4>
      </div>
      <div class="modal-body">
       <%=label_tag "請填寫原因："%> 
       <%= form_tag "/nctu_cce/verified?verify=false", :class=>"cancel-form" do%>
       	<%=hidden_field_tag "id", @progress.id%>
       	<%=text_area_tag "reason","",:class=>"form-control"%>
       <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="$('.cancel-form').submit();">送出</button>
      </div>
    </div>
  </div>
</div>