<%= render partial: "step", locals: {progress: @progress, step: @step} %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
    	承辦人員已審核通過您的資格，請匯款至以下玉山銀行帳號，如有任何疑問請洽承辦人員，謝謝！
	</div>
  </div>  
  <div class="row">
    <div class="col-sm-12">
		<table class="table table-bordered text-center">
			<tr class="active">
				<td>銀行</td>
				<td>帳號</td>
				<td>金額</td>
				<td>匯款開始日</td>
				<td>匯款結束日</td>
			</tr>
			<tr>
				<td>玉山銀行</td>
				<td><%=@progress.vaccount.vacc%></td>
				<td>
					<% course_payment = 0 %>
					<table class="table">
					<% @progress.registered_courses.each do |rc| %>
						<tr>
							<td><%=rc.course.title%></td>
							<td><%=rc.payment%> NT</td>
						<% course_payment += rc.payment%>
						</tr>
					<% end %>
						<tr>
							<td>報名費</td>
							<td><%=(@progress.payment - course_payment).to_s%> NT</td>
						</tr>
					</table>					
					總計: <b><%=@progress.payment.to_s%></b> NT
					<!--
					<p class="text-danger">
					<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
					因玉山銀行系統的設定，如需要分多筆匯款，請每日匯一筆，避免同日連續匯款，造成不便盡請見諒。
					</p>
					-->										
				</td>
				<td><%=@progress.period.payment_start_at.strftime("%Y/%m/%d %H:%M")%></td>
				<td><%=@progress.period.payment_end_at.strftime("%Y/%m/%d %H:%M")%></td>
			</tr>
		</table>
    </div>
    <!-- ＊ 更新於 <%=@progress.vaccount.updated_at.strftime("%F %R")%> -->
  </div>
</div>
