<table class="table" border="1" id="user-info" style="text-align: center;">
	<tr>
    <th>個人2吋半身照</th>
    <td colspan="3">
    	<%unless @progress.user.head_pic.blank?%>
		<%=image_tag @progress.user.head_pic.url(:original), :size=>"60x80"%>

    	<%else%>
    	--
    	<%end%>    
    </td>  
  </tr>  
  <tr>
    <th>姓名</th>
    <td><%=@progress.user.name%></td>
    <th>英文姓名</th>
    <td><%=@progress.user.name_en%></td>    
  </tr> 
  <tr>
    <th>出生年月日</th>
    <td colspan="3"><%if !@progress.user.birthday.blank? %><%=@progress.user.birthday.strftime "%Y/%m/%d" %><%end%></td>
  </tr>
  <tr>
    <th>性別</th>
    <td colspan="3"><%if @progress.user.gender%>男<%else%>女<%end%></td>
  </tr>  
  <tr>
    <th>身分證字號</th>
    <td  colspan="3"><%=@progress.user.id_no_TW%></td>
  </tr>     
  <tr>
    <th>最高(畢/肄/就讀)學校</th>
    <td><%=@progress.user.hightest_education_school%></td>
    <th>最高(科/系/所)</th>
    <td><%=@progress.user.hightest_education_department%></td>    
  </tr>  
  <tr>
    <th>學歷證明</th>
    <td colspan="3">
    	<%unless @progress.user.qualification_proof.blank?%>
    	<%=link_to '下載',@progress.user.qualification_proof.url%>
    	<%else%>
    	--
    	<%end%>
    </td> 
  </tr>  
  <tr>
    <th>聯絡電話(行動)</th>
    <td><%=@progress.user.mobile_phone_no%></td>
    <th>聯絡電話(一般)</th>
    <td><%=@progress.user.phone_no%></td>    
  </tr>    
  <tr>
    <th>聯絡地址</th>
    <td colspan="3"><%=@progress.user.postal%><%=@progress.user.county%><%=@progress.user.district%><%=@progress.user.address%></td>
  </tr> 
  <tr>
    <th>服務單位名稱</th>
    <td><%=@progress.user.work_name%></td>
    <th>職稱</th>
    <td><%=@progress.user.work_title%></td>    
  </tr>  
  <tr>
    <th>服務單位聯絡電話</th>
    <td><%=@progress.user.work_phone_no%></td>
    <th>傳真</th>
    <td><%=@progress.user.work_fax_no%></td>      
  </tr>     
  <tr>
    <th>服務單位聯絡地址</th>
    <td colspan="3"><%=@progress.user.work_postal%><%=@progress.user.work_county%><%=@progress.user.work_district%><%=@progress.user.work_address%></td>
  </tr>  
  
  <tr>
    <th>教育訓練聯絡人姓名</th>
    <td><%=@progress.user.work_contact_name%></td>
		<th>教育訓練聯絡人電話</th>
    <td><%=@progress.user.work_contact_phone_no%></td>
  </tr>  
  <tr>
    
    <th>教育訓練聯絡人Email</th>
    <td colspan="3"><%=@progress.user.work_contact_email%></td>      
  </tr>    
</table> 	
<script>
	window.print();
</script>
<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
</style>	