<div class="container" >
<%= form_for(@system_module, html: {class: "form-horizontal"} ) do |f| %>
  <% if @system_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system_module.errors.count, "error") %> prohibited this system_module from being saved:</h2>

      <ul>
      <% @system_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">代碼</label>
    <div class="col-sm-6">
    <%= f.number_field :serial_code, class: "form-control", placeholder: "代碼" %>	
    </div>
  </div>   
  <div class="form-group">
    <label class="col-sm-offset-1 col-sm-2 control-label">名稱</label>
    <div class="col-sm-6">
  	<%= f.text_field :title, class: "form-control", placeholder: "名稱" %>  	
    </div>
  </div>     
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <%= f.submit "送出", class:"btn btn-default" %>
    </div>
  </div>  
<% end %>
</div>
