<table class="table table-striped">
<tr>
	<th>虛擬帳號</th>
	<th>所屬報名</th>
	<th>所有人</th>
	<th>內涵金額/須繳金額</th>
	<!--<td>銷帳</td>-->
	<th></th>	
</tr>
<% @vaccounts.each do |vacc| %>
<% progress = vacc.progress %>
<tr>
	<td><%= vacc.vacc %></td>
	<td>
		<%if progress.period.school_year%><%=progress.period.school_year%>學年<%end%>	    
		<%if progress.period.semester%><%=Hash[semesterOptions].rassoc(progress.period.semester).first%><%end%>	    
		<%= progress.period.group.title %> <%if progress.period.term%>(第<%=progress.period.term%>期)<%end%>
	</td>
	<td><%= vacc.progress.user.name %></td>
	<td><%= vacc.money.to_s %> NT / <%=progress.payment.to_s%> NT </td>
	<!--<td>No</td>-->
	<td>
	    <%case progress.period.group.system_module.serial_code%> 
	    <%when GLOBAL_VAR['BASIC']%>
	      <% if progress.stage < 3 %>
		  	<%= link_to '設為報名成功', '/system_modules/succeed?id='+@system_module.id.to_s+'&progress_id='+vacc.progress.id.to_s, class: 'btn btn-primary'%>	      
	      <%end%>
	    <%when GLOBAL_VAR['NCTU_CCE']%>
	      <% if progress.stage < 4 %>  
		  	<%= link_to '設為報名成功', '/system_modules/succeed?id='+@system_module.id.to_s+'&progress_id='+vacc.progress.id.to_s, class: 'btn btn-primary'%>	      	         
	      <%end%>	      
	    <%when GLOBAL_VAR['NCTU_CCE_credit']%>
	      <% if progress.stage < 4 %>
		  	<%= link_to '設為報名成功', '/system_modules/succeed?id='+@system_module.id.to_s+'&progress_id='+vacc.progress.id.to_s, class: 'btn btn-primary'%>	      	           
	      <%end%>	      
	    <%when GLOBAL_VAR['NCTU_CCE_camp']%>  
	      <% if progress.stage < 4 %>  
		  	<%= link_to '設為報名成功', '/system_modules/succeed?id='+@system_module.id.to_s+'&progress_id='+vacc.progress.id.to_s, class: 'btn btn-primary'%>	      	      
	      <%end%>	      
	    <%end%>		
	</td>	
</tr>
<% end %>

</table>