<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">班別名稱</Data></Cell>
        <Cell><Data ss:Type="String">課程名稱</Data></Cell>
        <Cell><Data ss:Type="String">修課人數</Data></Cell>
        <Cell><Data ss:Type="String">取得證書人數</Data></Cell>
				<Cell><Data ss:Type="String">合計</Data></Cell>			
      </Row>
			<% @sys_module.groups.each do |group| %>
				<Row>
					<Cell><Data ss:Type="String"><%=group.title%></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
					<Cell><Data ss:Type="String"></Data></Cell>
				</Row>
				<% group.periods.where(:school_year=>params[:year]).each do |period| %>
					<% progresses = period.progresses %>  
					<% period.courses.each do |course| %>
						<% reg_courses = progresses.map{ |p| p.registered_courses }.flatten %>
						<% matchs = reg_courses.select{|i| i.progress.stage==4 and i.course==course} %>
						<% take_cnt = matchs.count %>
						<% pass_cnt = matchs.select{|p| p.certificate }.count %>
						<% sum = (take_cnt==0) ? 0 : ((pass_cnt*1.0/take_cnt)*100).round(2) %>
						<Row>
							<Cell><Data ss:Type="String"></Data></Cell>
							<Cell><Data ss:Type="String"><%=course.title%></Data></Cell>
							<Cell><Data ss:Type="String"><%=take_cnt.to_s %> </Data></Cell>
							<Cell><Data ss:Type="String"><%=pass_cnt.to_s %> </Data></Cell>
							<Cell><Data ss:Type="String"><%=sum.to_s %> %</Data></Cell>
						</Row>
					<% end %>
				<% end %>
				<Row>
				
				</Row>
			<% end %>
    </Table>
  </Worksheet>
</Workbook>


