<h3 class="text-center">模組列表</h3>
<br>
<%= link_to '新增模組', new_system_module_path, class: 'btn btn-success' %>


<table class="table table-striped table-hover" style="margin-top: 20px;">
  <tr>
    <th>代碼</th>
    <th>名稱</th>   
  </tr>	
    <% @system_modules.each do |system_module| %>
  <tr id='link1' onclick="document.location='<%=Rails.configuration.easyregister_host%>system_modules/<%=system_module.id%>';">
    <td><%= system_module.serial_code %></td>	
    <td><%= system_module.title %></td>
  </tr>
	<%end%>
</table>

