<%= form_tag  '/system_modules/userAdd', method: 'post', class: "form-horizontal", role: "form" do %>
<div>
    <%= hidden_field_tag  :id,  @system_module.id %>	
	<%= text_field_tag :email, '',size: 40, placeholder: '會員信箱' %>
	<%= select_tag  :role, options_for_select( [ ['成員', GLOBAL_VAR['ROLE_MEMBER'] ], ['管理員', GLOBAL_VAR['ROLE_ADMIN']] ]) %>	
</div>
<div>
	<%= submit_tag "加入", class: '' %>
</div>
<% end %>


<br>

<%@system_module.module_user_lists.order('id desc').each do |mu| %>
<%= mu.user.name%>
<%= select_tag 'role_'+mu.id, options_for_select( [ ['成員', GLOBAL_VAR['ROLE_MEMBER'] ], ['管理員', GLOBAL_VAR['ROLE_ADMIN']] ], mu.role ), onchange: 'selectAjaxHandler("'+mu.id+'")' %>
<br>
<%end%>


<script>
$(function(){ 
	$( "#user_email" ).autocomplete({
		source: function (request, response) {
			$.ajax({
        		url: "/system_modules/userInfo",
        		data: {email: request.term},
        		dataType: "json",
        		success: function( data ) {
            		response( $.map( data, function( item ) {
	                	return {
		                    label: item.label,
		                    value: item.value
	                	}
            		}));
        		}
			});
		},	
		select: function(event, ui) {
			$("#user_email").val(ui.item.value)
        },
		minLength: 2		
	});		
});

function selectAjaxHandler(id)
{
	var request = $.ajax({
	url: "/system_modules/userRole",
	type: "POST",
	data: { id : id, val: $( "#role_"+id ).val() },
	dataType: "json"
	});
	request.done(function( msg ) {
		alert(123)	
	});
	request.fail(function( jqXHR, textStatus ) {
		 $.gritter.add({
						title: '無法更改查核狀態',
						text:  '請先連上網路, 並重新整理頁面'
						});
	});	
}	
	
</script>