<div class="period_box"  id="period_<%=period_block.id%>" >
	<div class="panel panel-info">
	  <div class="panel-heading">  	
	    <%=link_to period_block, class: 'fancybox' do%> 	
		    <%if period_block.school_year%><%=period_block.school_year%>學年<%end%>	    
		    <%if period_block.semester%><%=Hash[semesterOptions].rassoc(period_block.semester).first%><%end%>	    
		    <h2 class="panel-title"><%= period_block.group.title %> <%if period_block.term%>(第<%=period_block.term%>期)<%end%></h2>	    	    
	    <%end%>	 
	  </div>
	  <div class="panel-body" style="min-height: 150px; word-break: break-all;">
		    <p><%= truncate(period_block.group.description, length: 60)%></p>
			<strong><div id="clock_<%=period_block.id%>"></div></strong>	  			    	 
	  </div>
	 <div class="panel-footer">	   	
	 	<div class="container" style="width: 250px;">
		  	<div class="row">
		        <div class="pull-left">承辦人：<br></div>   	
		    </div>	 		
		  	<div class="row">
		        <div class="pull-left"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%=period_block.user.name%></div>    	
		    </div>	   
		    <div class="row"> 
		        <div class="pull-left"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%=period_block.user.email%></div>		
		  	</div>	
		    <div class="row"> 
		        <div class="pull-left"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <%=showBlank period_block.user.phone_no%></div>		
		  	</div>		  				  	
	  	</div>
	  </div>
	</div>		
</div>
<%if period_block.start_at < Time.now%>
<script type="text/javascript">
  $('#clock_<%=period_block.id%>').countdown('<%= period_block.end_at.strftime('%Y/%m/%d %H:%M:%S')%>', function(event) {
    $(this).html(event.strftime(''+
		'<span>%-D</span> 天 '+ 
		'<span>%H</span> 時 '+
		'<span>%M</span> 分 '+ 
		'<span>%S</span> 秒 報名截止'));
  });
</script>  
<%end%>  
