<table>
<tr>
  <th>開課名稱</th>
  <th>課程名稱</th>
	<th>學員編號</th>
	<th>身分證字號</th>
	<th>中文姓名</th>
	<th>分數</th>
	<th>出席率</th>
	<th>證書字號</th>
	<th>ATMno</th>
	<th>收費金額</th>
	<th>ATM金額</th>
	<th>英文姓名</th>
</tr>
<% @progresses.each do |progress| %>
<tr>
	<td><%=@gorup.title%></td>
	<% if progress.registered_sub_items.presence %>
	  <% progress.registered_sub_items.each do |sub|%>
	    <td><%=sub.sub_item.title%></td>
	    <td> </td>
	    <td><%=progress.user.id_no_TW%></td>
	    <td><%=progress.user.name%></td>
	    <td><%=sub.score.to_s%></td>
	    <td><%=sub.attendance.to_s%></td>
	    <td> </td>
	    <td><%=progress.vaccount.vacc%></td>
	    <td><%=sub.payment.to_s%></td>
	    <td><%=progress.try(:vaccount).try('status["Amount"]')  || "" %></td>
	    <td><%=progress.user.name_en%></td>
	  <% end %>
	<% else %>
	  <td><%=@gorup.title%></td>
    <td> </td>
    <td><%=progress.user.id_no_TW%></td>
    <td><%=progress.user.name%></td>
    <td><%=progress.score.to_s%></td>
	  <td><%=progress.attendance.to_s%></td>
    <td> </td>
    <td><%=progress.vaccount.vacc%></td>
    <td><%=progress.payment.to_s%></td>
    <td><%=progress.try(:vaccount).try('status["Amount"]') || "" %></td>
    <td><%=progress.user.name_en%></td>
	<% end %>
</tr>
<% end %>

</table>