<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">開課名稱</Data></Cell>
        <Cell><Data ss:Type="String">課程名稱</Data></Cell>
        <Cell><Data ss:Type="String">學號</Data></Cell>
        <Cell><Data ss:Type="String">身分證字號</Data></Cell>
				<Cell><Data ss:Type="String">中文姓名</Data></Cell>
				<Cell><Data ss:Type="String">英文姓名</Data></Cell>
				<Cell><Data ss:Type="String">分數</Data></Cell>
				<Cell><Data ss:Type="String">出席率</Data></Cell>
				<Cell><Data ss:Type="String">證書字號</Data></Cell>
				<Cell><Data ss:Type="String">ATM帳號</Data></Cell>
				<Cell><Data ss:Type="String">收費金額</Data></Cell>
				<Cell><Data ss:Type="String">ATM金額</Data></Cell>
				
      </Row>
			<% @progresses.each do |progress| %>
				<% progress.registered_courses.each_with_index do |reg_course, idx|%>
					<Row>
						<Cell><Data ss:Type="String"><%=(idx==0) ? @group.title : "" %></Data></Cell>
						<Cell><Data ss:Type="String"><%=reg_course.course.title%></Data></Cell>
						<Cell><Data ss:Type="String"><%=progress.user.id.generation_time.strftime("%y%m%d") %><%=progress.user.id.to_s[-6, 6].hex.to_s.rjust(8, '0').to_s[-4, 4]  %></Data></Cell>
						<Cell><Data ss:Type="String"><%=progress.user.id_no_TW%></Data></Cell>
						<Cell><Data ss:Type="String"><%=progress.user.name%></Data></Cell>
						<Cell><Data ss:Type="String"><%=progress.user.name_en%></Data></Cell>
						<Cell><Data ss:Type="String"><%=reg_course.score.to_s%></Data></Cell>
						<Cell><Data ss:Type="String"><%=reg_course.attendance.to_s%></Data></Cell>
						<Cell><Data ss:Type="String"><%=reg_course.certificate_no%></Data></Cell>
						<Cell><Data ss:Type="String"><%=progress.try(:vaccount).try(:money) || "N/A"%></Data></Cell>
						<Cell><Data ss:Type="String"><%=reg_course.payment.to_s%></Data></Cell>
						<Cell><Data ss:Type="String">
							<% stat = progress.try(:vaccount).try(:status) %>
							<% if stat.present? %>
								<%=stat["Amount"].to_s %>
							<% else %>
								N/A
							<% end %>
						</Data></Cell>
						
					</Row>
				<% end %>
			<% end %>
    </Table>
  </Worksheet>
</Workbook>
