<style>
	/* Main marketing message and sign up button */
	.jumbotron {
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
	}
	.jumbotron .btn {
		padding: 14px 24px;
		font-size: 21px;
	}
</style>
<div class="jumbotron">
<h3>	
<%if @period.school_year%><%=@period.school_year%>學年<%end%>	    
<%if @period.semester%><%=Hash[semesterOptions].rassoc(@period.semester).first%><%end%>
</h3>
<h1><%=@period.group.title%></h1>
<p><strong><%=@period.group.description%></strong></p>
<%unless @period.eligibility.blank?%><p class="">報名對象: <%=@period.eligibility %></p><%end%>
<br>
<%@period.courses.each do |c|%>
<ul class="list-group">
<li class="list-group-item list-group-item-warning">	
	<h4 class="list-group-item-heading"><%= c.title%></h4>
	<dl class="text-muted list-group-item-text" style="font-size: 16px;">	
	  <%unless c.no_of_users.blank?%><dt>招生人數</dt><dd><%=c.no_of_users %>人</dd><%end%>
	  <%unless c.price.blank?%><dt>費用</dt><dd><%=c.price %> NT</dd><%end%>  
	  <%unless c.location.blank?%><dt>地點</dt><dd><%=c.location %></dd><%end%>  
	  <%unless c.start_at.blank?%><dt>課程時間</dt><dd><%=c.start_at %>~<%=c.end_at %></dd><%end%>  
	</dl>
</li>	
</ul>
<%end%>
<br>
<p>
	<% if user_signed_in? %>	
		<% pg = @period.progresses.where(user_id: current_user.id).last %>
		<%if pg %>									 		
			<%=link_to '查看報名進度',{ controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first,
									 action: Hash[stageOptions].rassoc(@period.progresses.where(user_id: current_user.id).first.stage).first, 
								     id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>	
		<%else%>
			<%if @period.start_at < Time.now and @period.end_at > Time.now%>
				<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>							
			<%else%>
				<%if @period.start_at > Time.now%>
					<%=link_to '報名尚未開始', "", {class: "btn btn-lg btn-default", role: "button"} %>											
				<%else%>
					<%=link_to '報名時間已結束', "", {class: "btn btn-lg btn-default", role: "button"} %>							
				<%end%>
			<%end%>			
		<%end%>
	<%else%>
		<%if @period.start_at < Time.now and @period.end_at > Time.now%>
			<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>							
		<%else%>
			<%if @period.start_at > Time.now%>
				<%=link_to '報名尚未開始', "", {class: "btn btn-lg btn-default", role: "button"} %>											
			<%else%>
				<%=link_to '報名時間已結束', "", {class: "btn btn-lg btn-default", role: "button"} %>							
			<%end%>						
		<%end%>				
	<%end%>	
</p>
</div> 



<!--
<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
<%=render "comments/show" %>



<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '<%=@period.group.title%>'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['推薦', '普通', '不推薦'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '人數',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' 人'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '人數',
            colorByPoint: true,
            data: [{
						name: '推薦',
						color: '#66CCFF',
						y: 60
					}, {
						name: '普通',
						color: '#E6E6E6',
						y: 35
				   }, {
						name: '不推薦',
						color: '#FF5C33',
						y: 20
				   }]
        }]                      // default blue
    });
});
</script>
