<style>
	/* Main marketing message and sign up button */
	.jumbotron {
		text-align: center;
		border-bottom: 1px solid #e5e5e5;
	}
	.jumbotron .btn {
		padding: 14px 24px;
		font-size: 21px;
	}
</style>
<div class="container">
<div class="jumbotron">
<h3>	
<%if @period.school_year%><%=@period.school_year%>學年<%end%>	    
<%if @period.semester%><%=Hash[semesterOptions].rassoc(@period.semester).first%><%end%>
</h3>
<p  style="font-size: 42px;"><%=@period.group.title%></p>
<p><strong class="text-muted" ><%=simple_format @period.group.description%></strong></p>
<ul class="list-group">
<li class="list-group-item">	
	<dl class="" style="font-size: 17px;">	
	<dt>報名時間</dt><dd><%=@period.start_at.strftime "%Y/%m/%d %H:%M" %> ~ <%=@period.end_at.strftime "%Y/%m/%d %H:%M" %></dd>	
	<%unless @period.eligibility.blank?%><dt>報名對象</dt><dd><%=@period.eligibility %></dd><%end%>
	<%unless @period.default_payment.blank?%><dt>報名費</dt><dd><%=@period.default_payment %> NT</dd><%end%>	
	<%unless @period.precautions.blank?%><dt class="text-danger">注意事項 <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></dt><dd class="text-danger"><%=simple_format @period.precautions, {}, wrapper_tag: "div" %></dd><%end%>
	</dl>		
</li>	
</ul>
<div class="table-responsive">
<table class="table table-bordered">
	<tr class="warning">
	  <td>課程名稱 <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></td>		
	  <td>報名人數 / 招生人數 <span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
	  <td>費用 <span class="glyphicon glyphicon-usd" aria-hidden="true"></span></td>
	  <td>地點 <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></td>
	  <td>備註 <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span></td>	  
	  <td>課程時間 <span class="glyphicon glyphicon-time" aria-hidden="true"></span></td>
	</tr>
<%@period.courses.each do |c|%>
	<tr>
	  <td><%= c.title%></td>		
	  <td><%unless c.no_of_users.blank?%><%= c.registered_courses.where(:progress_id.in => Progress.gte(stage: 2).pluck(:id)).count%>人 / <%=c.no_of_users %>人<%else%>--<%end%></td>
	  <td><%unless c.price.blank?%><%=c.price %> NT<%else%>--<%end%></td>
	  <td><%unless c.location.blank?%><%=c.location %><%else%>--<%end%></td>
	  <td><%unless c.note.blank?%><%=c.note %><%else%>--<%end%></td>	  
	  <td><%unless c.start_at.blank? or c.end_at.blank?%><%=c.start_at.strftime "%Y/%m/%d" %> ~ <%=c.end_at.strftime "%Y/%m/%d" %><%else%>--<%end%></td>
	</tr>
<%end%>	
</table>
</div>
<br>
<p>
	<% if user_signed_in? %>	
		<% pg = @period.progresses.where(user_id: current_user.id).last %>
		<%if pg %>									 		
			<%=link_to '查看報名進度',{ controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first,
									 action: Hash[stageOptions].rassoc(@period.progresses.where(user_id: current_user.id).first.stage).first, 
								     id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>	
		<%else%>
			<%if @period.start_at < Time.now and @period.end_at > Time.now%>
							
				<%if @period.courses.size == 1%>
					<%course = @period.courses.first%>
					<%if course.waiting_start and course.waiting_available%>
						<%=link_to '報名候補', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>							
					<%elsif @period.courses.first.registered_courses.size == @period.courses.first.no_of_users and%>
						<%=link_to '報名已滿', '', {class: "btn btn-lg btn-default", role: "button"} %>												
					<%else%>
						<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>																		
					<%end%>
				<%else%>
					<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>											
				<%end%>
								
			<%else%>
				<%if @period.start_at > Time.now%>
					<%=link_to '報名尚未開始', "", {class: "btn btn-lg btn-default", role: "button"} %>											
				<%else%>
					<%=link_to '報名時間已結束', "", {class: "btn btn-lg btn-default", role: "button"} %>							
				<%end%>
			<%end%>			
		<%end%>
	<%else%>
		<%if @period.start_at < Time.now and @period.end_at > Time.now%>

				<%if @period.courses.size == 1%>
					<%course = @period.courses.first%>
					<%if course.waiting_start and course.waiting_available%>
						<%=link_to '報名候補', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>							
					<%elsif @period.courses.first.registered_courses.size == @period.courses.first.no_of_users and%>
						<%=link_to '報名已滿', '', {class: "btn btn-lg btn-default", role: "button"} %>												
					<%else%>
						<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>																		
					<%end%>
				<%else%>
					<%=link_to '我要報名', {controller: Hash[controllerOptions].rassoc(@period.group.system_module.serial_code).first, action: 'first', id: @period.id}, {class: "btn btn-lg btn-success", role: "button"} %>											
				<%end%>
				
		<%else%>
			<%if @period.start_at > Time.now%>
				<%=link_to '報名尚未開始', "", {class: "btn btn-lg btn-default", role: "button"} %>											
			<%else%>
				<%=link_to '報名時間已結束', "", {class: "btn btn-lg btn-default", role: "button"} %>							
			<%end%>						
		<%end%>				
	<%end%>	
</p>
</div> 
</div>


<!--
<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
<%=render "comments/show" %>



<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: '<%=@period.group.title%>'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: ['推薦', '普通', '不推薦'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '人數',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' 人'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: '人數',
            colorByPoint: true,
            data: [{
						name: '推薦',
						color: '#66CCFF',
						y: 60
					}, {
						name: '普通',
						color: '#E6E6E6',
						y: 35
				   }, {
						name: '不推薦',
						color: '#FF5C33',
						y: 20
				   }]
        }]                      // default blue
    });
});
</script>
