<h3 class="text-center">忘記您的密碼?</h3>
<div class="container" >
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
  		<%= f.email_field :email, class: "form-control", placeholder: "Email"  %>  	
    </div>
  </div>  
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-6">
      <%= f.submit "寄送密碼重設", class:"btn btn-default" %>
    </div>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>
