<div class="item_box"  id="item_<%=item_block.id%>" >
	<%=link_to item_block, class: 'fancybox openitemAjax' do%>
	<div class="content_item_block" id="content_item_<%=item_block.id%>">				
			<div class="item_box_title">
				<%= item_block.title %>
			</div>	
			<div class="item_box_content">
				<%= item_block.description%>	
			</div>		
			<div class="item_box_date_view">
				<span class="fb_view_clock-icon icon-clock"></span> 發佈時間 <%=item_block.created_at.strftime "%Y-%m-%d"%>
			</div>				
	</div> 	
	<%end%>				
</div>

