<div class="progress_box"  id="progress_box_<%=progress_block.id%>" >
	<div class="panel panel-<%=stageColor progress_block.stage%>">
	  <div class="panel-heading">
		<%=link_to "/"+Hash[controllerOptions].rassoc(progress_block.item.group.system_module.serial_code).first+"/"+Hash[stageOptions].rassoc(progress_block.stage).first+"?progress_id="+progress_block.id, {} do%>
	    <h3 class="panel-title"><%= progress_block.item.group.title %></h3>
	    <%end%>	 
	  </div>
	  <div class="panel-body">
			<%=link_to "/"+Hash[controllerOptions].rassoc(progress_block.item.group.system_module.serial_code).first+"/"+Hash[stageOptions].rassoc(progress_block.stage).first+"?progress_id="+progress_block.id, {} do %>
		    <p><%= progress_block.item.group.description%></p>
		    <div id="clock_<%=progress_block.id%>"></div>
	  	<%end%> 
	   	<div class="container" style="width: 250px;">
		  	<div class="row">
		  	</div>	
	  	</div>	 
	  </div>
	
	</div>		
</div>

<script type="text/javascript">
  $('#clock_<%=progress_block.id%>').countdown('<%= progress_block.item.end_at.strftime('%Y/%m/%d %H:%M:%S')%>', function(event) {
    $(this).html(event.strftime(''+
		'<span>%-w</span> 週 '+ 
		'<span>%-d</span> 天 '+ 
		'<span>%H</span> 時 '+
		'<span>%M</span> 分 '+ 
		'<span>%S</span> 秒 截止'));
  });
</script> 