<div class="progress_box"  id="item_<%=progress_block.id%>" >
	<%=link_to "/"+Hash[controllerOptions].rassoc(progress_block.item.group.module).first+"/"+Hash[stageOptions].rassoc(progress_block.stage).first+"?progress_id="+progress_block.id, {} do%>
	<div class="content_progress_block" id="content_item_<%=progress_block.id%>">				
			<div class="progress_box_title">
				<%= progress_block.item.group.title %>
			</div>	
			<div class="progress_box_content">
				<%= progress_block.item.group.description%>	
			</div>		
			<div class="progress_box_date_view">
				<span class="fb_view_clock-icon icon-clock"></span> 發佈時間 <%=progress_block.item.group.created_at.strftime "%Y-%m-%d"%>
			</div>				
	</div> 	
	<%end%>				
</div>

