<%=render "newStep" %>

<div class="container-fluid">
  <div class="row">
 	<h1 class="text-center">
 		<p>
 		<%=link_to "/"+Hash[controllerOptions].rassoc(@item.group.system_module.serial_code).first+"/indexManagement?id="+@item.id, {} do%> 	
			<%= @item.group.title%>
		<%end%>	
		</p>
 		<p>
		系統報名網址:
		<mark><%=host%>/items/<%=@item.id%></mark>
		</p>		
 		<small>剩</small>
 		<span id="clock"></span>
 		<small>開放報名</small>
 	</h1> 	  
  </div>
</div>
<script type="text/javascript">
  $('#clock').countdown('<%= @item.start_at.strftime('%Y/%m/%d %H:%M:%S')%>', function(event) {
    $(this).html(event.strftime(''+
		'<span>%-w</span> 週 '+ 
		'<span>%-d</span> 天 '+ 
		'<span>%H</span> 時 '+
		'<span>%M</span> 分 '+ 
		'<span>%S</span> 秒'));
  });
</script>