<h3><%=@data.item.group.title%> 第<%=@data.item.term.to_s%>期 </h3>
<%=render "step", :stage=>@data.stage %>

<%=progress_status_cantext @data.stage%>
<% if @data.stage == 3 and @data.vaccount.presence%>
<table border="1" class="table">
	<tr>
		<td>銀行</td>
		<td>帳號</td>
		<td>金額</td>
		<td>匯款開始日</td>
		<td>匯款結束日</td>
	</tr>
	<tr>
		<td>玉山銀行</td>
		<td><%=@data.vaccount.vacc%></td>
		<td><%=@data.payment.to_s%> NT</td>
		<td><%=@data.item.payment_strat_at.strftime("%D %R")%></td>
		<td><%=@data.item.payment_end_at.strftime("%D %R")%></td>
	</tr>
</table>

<% elsif @data.stage==-1%>
	取消原因：</br>
	<%=@data.reason%>
<% end %>