<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif; padding: 5px 20px;	">	
<div style="margin-top: 5px; margin-bottom: 10px;">
<%=image_tag 'logo&text.png'%>
</div>	
<div style="letter-spacing: 1.5px;
		    padding-bottom: 30px; 
		    padding-top: 30px; 	
		    padding-left: 5px; 		    	    
		    border-bottom: 1px solid; 
		    border-top: 1px solid; 
		    margin-bottom: 30px;">		
<div class="masonry" style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">    
<%=simple_format(@content, {}, wrapper_tag: "div") %>
<br>
<%='從 承辦人員: '+@sender.name+' '+@sender.email+' 發出' %>  
<br><br>--<br>
您可透過以下連結，得知報名進度及消息
<br>
<%= Rails.configuration.easyregister_host+Hash[controllerOptions].rassoc(@progress.period.group.system_module.serial_code).first+'/'+Hash[stageOptions].rassoc(@progress.stage).first+'?id='+@progress.period.id%>    
<br>
如有任何問題，請洽承辦人員:<%=@progress.period.user.name%> <%=@progress.period.user.email%> <%=@progress.period.user.phone_no%><br>
<span style='color:#dd5e59; font-size: 13.5px;'>此為系統信箱無收信功能，如需回覆請直接聯絡承辦人員信箱</span>
<br>--
</div>
</div>
EasyRegister 簡單又方便的報名系統<br> 
<%= link_to 'EasyRegister.tw', 'http://easyregister.tw' %><br>
Copyright 2014 从人設計坊. All Rights Reserved. 
</div>
</body>
</html>