<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif; padding: 5px 20px;	">	
<div style="margin-top: 5px; margin-bottom: 10px;">
<%=image_tag 'logo&text.png'%>
</div>	
<div style="letter-spacing: 1.5px;
		    padding-bottom: 30px; 
		    padding-top: 30px; 	
		    padding-left: 5px; 		    	    
		    border-bottom: 1px solid; 
		    border-top: 1px solid; 
		    margin-bottom: 30px;">		
<div class="masonry" style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">
<%=@progress.user.name%> 您好!
<br> 
歡迎您報名
<b><%=@progress.period.group.title%></b>目前已審核成功
<br>
<%if @progress.period.group.system_module.serial_code == GLOBAL_VAR['NCTU_CCE_credit']%>
	<% @progress.registered_courses.each do |s|%>
	<%=s.course.title%> 金額: <%=s.payment.to_s%> NT<br>
	<%end%>
<%end%>
<% if @progress.vaccount %>
匯款資訊如下<br><br>
			 <table border="1">
				<tr>
					<td>銀行</td>
					<td>戶名</td>					
					<td>帳號</td>
					<td>金額</td>
					<td>匯款開始日</td>
					<td>匯款結束日</td>
				</tr>
				<tr>
					<td>玉山銀行(808)<br>新竹分行代碼:0060</td>
					<td>國立交通大學</td>					
					<td><%=@progress.vaccount.vacc%></td>
					<td><%=@progress.payment.to_s%> NT</td>
					<td><%=@progress.period.payment_start_at.strftime("%Y/%m/%d %H:%M")%></td>
					<td><%=@progress.period.payment_end_at.strftime("%Y/%m/%d %H:%M")%></td>
				</tr>
			 </table>
請於時限內匯款，匯款成功後會來信通知您！<br>
*繳費之收執聯請保留以利日後備查
<% end %>
<br>
您可透過以下連結，得知報名進度及消息
<br>
<%= host+Hash[controllerOptions].rassoc(@progress.period.group.system_module.serial_code).first+'/'+Hash[stageOptions].rassoc(@progress.stage).first+'?id='+@progress.period.id%>    
<br><br>
如有任何問題，請洽承辦人員:<%=@progress.period.user.name%> <%=@progress.period.user.email%> <%=@progress.period.user.phone_no%><br>
<br>
<span style='color:#dd5e59; font-size: 14.5px;'>此為系統信箱無收信功能，如需回覆請直接聯絡承辦人員信箱</span>
<br>
</div>
</div>
<p>
EasyRegister 簡單又方便的報名系統<br> 
<%= link_to 'EasyRegister.tw', 'http://easyregister.tw' %><br>
Copyright 2014 从人設計坊. All Rights Reserved. 
</p>
</div>	
</body>
</html>