<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<div style="font-family: Microsoft JhengHei, 'Lato', Calibri, Arial, sans-serif; padding: 5px 20px;	">	
<div style="margin-top: 5px; margin-bottom: 10px;">
<%=image_tag 'logo&text.png'%>
</div>	
<div style="letter-spacing: 1.5px;
		    padding-bottom: 30px; 
		    padding-top: 30px; 	
		    padding-left: 5px; 		    	    
		    border-bottom: 1px solid; 
		    border-top: 1px solid; 
		    margin-bottom: 30px;">		
<div class="masonry" style="-moz-column-count: 4;
						    -webkit-column-count: 4;
						    column-count: 4;
						    -moz-column-gap: 1em;
						    -webkit-column-gap: 1em;
						    column-gap: 1em;">
<%=@user.name %> 您好!  
<br> 
已收來自(<%=@progress.user.name%>)的匯款(<%=@progress.vaccount.vacc%>) <%=@progress.vaccount.status["Amount"]%> NT.</br>
您可透過以下連結，管理報名資料<br>
<%= host+Hash[controllerOptions].rassoc(@progress.period.group.system_module.serial_code).first+'/indexManagement?id='+@progress.period.id%>    
<br>
</div>
</div>
<p>
EasyRegister 簡單又方便的報名系統<br> 
<%= link_to 'easyRegister.tw', 'http://easyRegister.tw' %><br>
Copyright 2014 从人設計坊. All Rights Reserved. 
</p>
</div>
</body>
</html>