<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">	
  <title>EasyRegister 報名系統</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%=render "layouts/menu" %>
<div class="main">
	<%= yield %>
</div>

<script>  	
<% flash.each do |type, message| %>
	addAlert('<%=type%>', '<%=message.html_safe%>')
<% end %>


// self extend
jQuery.fn.extend({
    disable: function(state) {
        return this.each(function() {
            this.disabled = state;
        });
    }
});

$('button[data-loading-text]').click(function () {
   // console.log($(this));
    var str = $(this).attr('data-loading-text');
    $(this).html(str).disable(true);
});

 </script>
</body>
</html>
